 # ignore all bin directories
    # matches "bin" in any subfolder
    bin/

    # ignore all target directories
    target/

    # ignore all files ending with ~
    *~

    # ignore all files with suo
    *.suo
*.lock
PsychicClassMod/PsychicClassMod/bin/PsychicClassMod.zip
PsychicClassMod/.vs/PsychicClassMod/v16/Server/sqlite3/storage.ide
PsychicClassMod/.vs/PsychicClassMod/v16/Server/sqlite3/storage.ide-shm
PsychicClassMod/.vs/PsychicClassMod/v16/Server/sqlite3/storage.ide-wal
PsychicClassMod/PsychicClassMod/bin/PsychicClassMod/blueprints.txt
PsychicClassMod/PsychicClassMod/bin/Release/PsychicClassMod/blueprints.txt
PsychicClassMod/PsychicClassMod/bin/Release/PsychicClassMod/settings.json
PsychicClassMod/PsychicClassMod/bin/Release/PsychicClassMod/PsychicClassMod.pdb
PsychicClassMod/PsychicClassMod/bin/Release/PsychicClassMod/PsychicClassMod.dll
PsychicClassMod/PsychicClassMod/bin/Release/PsychicClassMod/info.json
PsychicClassMod/PsychicClassMod/bin/Release/PsychicClassMod.zip
PsychicClassMod/PsychicClassMod/bin/PsychicClassMod/settings.json
PsychicClassMod/PsychicClassMod/bin/PsychicClassMod/PsychicClassMod.pdb
PsychicClassMod/PsychicClassMod/bin/PsychicClassMod/PsychicClassMod.dll
PsychicClassMod/PsychicClassMod/bin/PsychicClassMod/info.json
PsychicClassMod/PsychicClassMod/bin/PsychicClassMod/blueprints.txt
PsychicClassMod/PsychicClassMod/bin/PsychicClassMod.zip
PsychicClassMod/PsychicClassMod/bin/Debug/settings.json
PsychicClassMod/PsychicClassMod/bin/Debug/PsychicClassMod.pdb
PsychicClassMod/PsychicClassMod/bin/Debug/PsychicClassMod.dll
PsychicClassMod/PsychicClassMod/bin/Debug/info.json
PsychicClassMod/PsychicClassMod/bin/Debug/blueprints.txt
PsychicClassMod/.vs/PsychicClassMod/v16/Server/sqlite3/storage.ide-wal
PsychicClassMod/.vs/PsychicClassMod/v16/Server/sqlite3/storage.ide-shm
PsychicClassMod/.vs/PsychicClassMod/v16/Server/sqlite3/storage.ide
PsychicClassMod/.vs/CowWithHatsCustomSpellsMod/v16/.suo
PsychicClassMod/.vs/CowWithHatsCustomSpellsMod/v16/Server/sqlite3/storage.ide
PsychicClassMod/.vs/PsychicClassMod/v16/.suo
PsychicClassMod/.vs/PsychicClassMod/v16/Server/sqlite3/storage.ide
PsychicClassMod/.vs/PsychicClassMod/v16/Server/sqlite3/storage.ide-shm
PsychicClassMod/.vs/PsychicClassMod/v16/Server/sqlite3/storage.ide-wal
